* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: rgb(34, 49, 89);
	color: #c6c2ff;
}

button {
	outline: none;
	border: none;
}

#game {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	width: 100%;
}

.game_container {
	width: fit-content;
	display: flex;
	gap: 3rem;
}
